* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background: #020024;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 40px;
}

h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 40px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
  background-color: #ffffff;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(1.1);
}